---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// === OVERRIDE dello stile ===

// Override responsivo della dimensione font base
html {
  font-size: 14px; // dimensione per schermi piccoli

  @include breakpoint($medium) {
    font-size: 15px; // tablet / medi
  }

  @include breakpoint($large) {
    font-size: 16px; // desktop normali
  }

  @include breakpoint($x-large) {
    font-size: 17px; // schermate più grandi
  }
}


body,
.page__content,
.page__content p,
.page__content li,
.page__content span,
.page__content strong,
.page__content em,
.page__content blockquote,
.page__content code{
  color: #949494 !important; // testo grigio chiaro
}

h1, h2, h3, h4, h5, h6{
  color: #ffffff !important; // titoli bianchi
}

a,
a:visited,
a:active {
  color: #ffffff !important;
  text-decoration: none !important;
}

a:hover {
  color: #b3b3b3 !important;
  text-decoration: underline; // opzionale: solo al passaggio del mouse
}

// === Font Inter (Google Fonts) ===
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;600;700&display=swap');


*,
*::before,
*::after,
body,
.page,
.page__content,
.page__meta,
h1, h2, h3, h4, h5, h6,
a, p, li, span, div,
nav, header, footer,
button, input, textarea,
.site-title,
.site-nav,
.sidebar,
.site-footer,
.page__footer,
.page__hero,
.archive__item-title,
.archive__item-excerpt,
label {
  font-family: 'Noto Sans Mono', monospace !important;
}

.masthead .site-title,
.masthead .site-title a {
  font-family: 'Noto Sans Mono', monospace !important;
}
